<!DOCTYPE html>
<html lang="en" data-theme="dark">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="module" src="/styles/main.js"></script>
        <link rel="stylesheet" href="/styles/main.css">

    </head>

    <body>
                
        <wb-demo 
            title="WB Color Bar" 
            markdown="./wb-color-bar.md">
            <div slot="examples" style="margin: 5rem">
                <div style="display: grid; grid-auto-rows: 5rem; gap: 2rem;">
                 
                <wb-color-bar id="colorBar" hue="100" saturation="80" lightness="50"
                    style="width: 50%; height: 32px;"></wb-color-bar>
                
                          
               <wb-color-bar id="colorBar" hue="200" saturation="80" lightness="50"
                    style="width: 50%; height: 24px;"></wb-color-bar>
                 
                <wb-color-bar id="colorBar2" hue="340" saturation="100" lightness="50"
                    style="width: 50%; height: 12px;"></wb-color-bar>
                </div>
                
            </div>
        </wb-demo>


    </body>

</html>
