<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WB Input Demo</title>

    <link rel="stylesheet" href="../../styles/css-tokens.css">
    <link rel="stylesheet" href="./wb-input.css">

    <script type="module" src="../../src/js/main.js"></script>
</head>

<body data-theme="dark">
    <wb-demo title="wb-input Demo" markdown="./wb-input.md" examples-url="./wb-demo-examples.html">
    </wb-demo>
</body>

</html>
