<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WB Demo Component Demo</title>
    <link rel="stylesheet" href="../../styles/main.css?v=2">
    <script type="module" src="../../src/js/main.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        wb-demo {
            display: block;
            width: 95vw !important;
            max-width: 95vw !important;
        }
    </style>
</head>
<body data-theme="dark">
    <wb-demo 
        title="WB Demo Component Demo"
        markdown="./wb-demo.md">
    </wb-demo>
</body>
</html>