<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wb-semanticElements Demo</title>
  <script type="module" src="../../index.js"></script>
  <script type="module" src="./wb-semanticElements.js"></script>
  <link rel="stylesheet" href="../../styles/main.css">
  <link rel="stylesheet" href="./wb-semanticElements.css">
 
</head>
<body>
  <div class="demo-container">
    <h1>wb-semanticElements Demo</h1>
    
    <wb-demo markdown="wb-semanticElements.md">
      <div slot="examples">
        <wb-semantic-elements></wb-semantic-elements>
      </div>
    </wb-demo>
  </div>
</body>
</html>
